body {
  box-sizing: border-box;
}

.main-container {
  background-image: url("../images/music-notes.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  text-align: center;
}

img {
  width: 30vw;
  position: absolute;
  top: 0;
  left: 0;
}

.query {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

label,
#lyric-button {
  margin-top: 15px;
}

.display-lyrics {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  width: 80vw;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

.query {
  float: left;
}
